<h1 class="section-title">
  <i class="far fa-user"></i>Painel de clientes
</h1>
<div class="main-page">
  <div class="main-title">
    <div>
      <h2>Listagem de usuários</h2>
      <span>Escolha um cliente para visualizar os detalhes</span>
    </div>
    <button class="btn"
            [routerLink]="['/criar-cliente']">Novo cliente</button>
  </div>
  <div class="main-content"
       *ngIf="clients; else loading">
    <ul class="client-list">
      <li *ngFor="let client of clients | keyvalue">
        <div class="col">
          <div>
            <strong>{{ client.value.name }}</strong><br />
            <span>{{ client.value.email }}</span>
          </div>
        </div>
        <div class="col">
          <div>
            <strong>{{ client.value.cpf }}</strong><br />
            <span>{{ client.value.tel }}</span>
          </div>
        </div>
        <div class="col">
          <div class="status {{ status[client.value.status] }}">
            <i></i>
            <span>{{ client.value.status }}</span></div>
        </div>
        <div class="col">
          <button class="btn outline full"
                  [routerLink]="['/editar-cliente', client.key]">Editar</button>
        </div>
      </li>
    </ul>
    <div class="client-list-footer">
      Exibindo {{ object.keys(clients).length }} clientes
    </div>
  </div>
  <ng-template #loading>
    <div class="loading">
      Carregando dados
    </div>
  </ng-template>

</div>