<h1 class="section-title">
  <i class="far fa-user"></i>Painel de clientes
</h1>
<div class="main-page">
  <div class="main-title">
    <div>
      <h2>Listagem de usuários</h2>
      <p>Escolha um cliente para visualizar os detalhes</p>
    </div>
    <button class="btn">Novo cliente</button>
  </div>
  <div class="main-content">
    <ul class="client-list">
      <li>
        <div class="col">
          <div>
            <strong>John Doe</strong><br />
            <span>john_doe@test.com</span>
          </div>
        </div>
        <div class="col">
          <div>
            <strong>123.456.789-00</strong><br />
            <span>(11) 9998-8745</span>
          </div>
        </div>
        <div class="col">
          <div class="status active"><i></i><span>Ativo</span></div>
        </div>
        <div class="col">
          <button class="btn outline full">Editar</button>
        </div>
      </li>
    </ul>
  </div>
</div>