.client-list{
    list-style: none;
    padding:0;
    margin:0;

    li{
        border:1px solid #ededed;
        display: grid;
        padding:20px;
        grid-gap: 20px;
        grid-template-columns: 2fr repeat(3, 1fr);
        margin-bottom:20px;

        .col{
            display: flex;
            align-items: center;
        }
    }

    li:last-child{
        margin-bottom:0;
    }

}
.client-list-footer{
    padding:20px 0;
    border:none;
}

@media only screen and (max-width: 600px) {
    .client-list{
        li{
            grid-template-columns: 1fr;
        }
    }
  }