/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Hind:400,600');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
    margin:0;
    font-family: 'Hind', sans-serif;
}

.section-title{
  font-weight: normal;
  color: #333333;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ededed;
  padding-bottom: 20px;
  i{
    margin-right: 10px;
    font-size: 1.8rem;
  }
}

.main-page{
  color: #666666;
  .main-title{
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    margin-bottom:20px;
    h2{
      font-size: 1.3rem;
      font-weight: 600;
      margin:0;
    }
  }
}

/* Buttons */

@mixin btn-solid{
  background: #E29933;
  color:#ffffff;
}

.btn{
  border-radius: 5px;
  outline: none;
  border: none;
  background: #E29933;
  color:#ffffff;
  cursor: pointer;
  padding:10px 15px;
  font-size: 1rem;
  transition: 0.5s;

  &:hover{
    background: #C47E1C;
  }
}

.btn.outline{
  border: 1px solid #E29933 ;
  background: transparent;
  color:#E29933;

  &:hover{
    @include btn-solid;
  }
}

.btn.full{
  width: 100%;
}

.btn-group{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

button:disabled{
  opacity: 0.7;
  cursor:not-allowed;
}

/* Status */

.status{
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.status i{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.status.active i{
  background: #49AD5B;
}

.status.waiting i{
  background: #D2A710;
}

.status.inactive i{
  background: #D6323F;
}

.status.disabled i{
  background: #D2D2D2;
}

/* Loading */
.loading{
  display: grid;
  padding:50px;
  background: #ededed;
  text-align: center;
}

/* Forms */

.form-grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  row-gap: 20px;
}

.form-field input{
  border: 1px solid #cccccc;
  padding:15px 20px;
  border-radius:4px;
  width: 100%;
}

.form-field select{
  border: 1px solid #cccccc;
  padding:15px 20px;
  border-radius:4px;
  background: transparent;
  color: #666666;
  width: 100%;
  cursor: pointer;
}

.form-field.custom-select {
  select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.form-field.custom-select {
  position: relative;
}

.form-field.custom-select:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f078';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right:20px;
  pointer-events: none;
}

/* Messages */

.message{
  position: absolute;
  top:40px;
  right:40px;
  border-radius: 4px;
  display: flex;
  align-items: center;

  i{
    font-size: 1.5rem;
    margin-right: 10px;
  }
}

.message.success{
  background: #49AD5B;
  padding:20px;
  color:#fff;
}